<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/nav.ejs %>
        </div>
    </body>
    <footer>
            <% include ../partials/footer %>
    </footer>
</html>